<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account [[${account.getName()}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="${account.getName()}"></h1>
<section>
    <h2>Dish Wheels</h2>
    <article class="wheel" th:each="wheel : ${account.wheels}">
        <h3 th:text="${wheel.getGroup().name}"></h3>
        <p><a th:href="@{account/{userId}/group/{groupId}/wheel(userId=${account.userId},groupId=${wheel.groupId},token=${token})}">Go</a> to Dish Wheel.</p>
        <section>
            <h4>Members</h4>
            <section class="person" th:each="member : ${wheel.getMembers()}">
                <h5 th:text="${member.name}"></h5>
                <p>Fines: [[${wheel.getFines(member)}]]</p>
            </section>
        </section>
    </article>
</section>
<section>
    <h2>Groups without Dish Wheels</h2>
    <article class="group" th:each="group : ${account.getGroupsWithoutWheels()}">
        <h3 th:text="${group.name}"></h3>
        <section>
            <h4>Members</h4>
            <p class="list">
                <span class="person" th:each="member : ${group.getMembers()}" th:text="${member.name}"></span>
            </p>
            <p><a th:href="@{account/{userId}/group/{groupId}/wheel(userId=${account.userId},groupId=${group.groupId},token=${token})}">Create</a> Dish Wheel</p>
        </section>
    </article>
</section>
</body>
</html>