<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dishbot - Group: [[${group.id}]]</title>
</head>
<body>
<div class="container">
    <main>
        <h1>Group: [[${group.id}]]</h1>
        <section>
            <h2>People on this line</h2>
            <div class="person" th:each="user : ${group.members}" th:object="${user}">
                <p>
                    <span>ID: </span>
                    <span th:text="*{id}"></span>
                </p>
                <p>
                    <span>Name: </span>
                    <span th:text="*{name}"></span>
                </p>
            </div>
        </section>
        <section th:object="${group.wheel}">
            <h2>Dishwheel</h2>
            <p>
                <span>Dishwheel exists:</span>
                <span th:if="${group.wheel}">Yes</span>
                <span th:unless="${group.wheel}">No</span>
            </p>
            <section th:if="${group.wheel}">
                <h3>Dishwheel details</h3>
                <section th:if="${group.wheel.getNumberOfRoommates()}">
                    <h3>Roommates on the dish wheel</h3>
                    <div class="person" th:each="user : ${group.wheel.getRoommatesInOrder()}" th:object="${user}">
                        <p>
                            <span>ID: </span>
                            <span th:text="*{id}"></span>
                        </p>
                        <p>
                            <span>Name: </span>
                            <span th:text="*{name}"></span>
                        </p>
                    </div>
                </section>
                <p th:unless="${group.wheel.getNumberOfRoommates()}">There are no roommates on the dishwheel.</p>
            </section>
        </section>
    </main>
</div>
</body>
</html>