<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dishbot - All Groups</title>
</head>
<body>
<div class="container">
    <main>
        <h1>Groups</h1>
        <section th:each="group : ${groups}">
            <h2>
                <span>ID:</span>
                <a th:href="'/group/' + ${group.id}" th:text="${group.id}"></a>
            </h2>
            <div>
                <h3>Users</h3>
                <p>
                    <span th:each="user : ${group.members}" th:object="${user}">[[*{name}]], </span>
                </p>
            </div>
        </section>
    </main>
</div>
</body>
</html>