<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <main>
        <section th:each="group : ${groups}">
            <p>
                <span>ID:</span>
                <a th:href="'/group/' + ${group.id}" th:text="${group.id}"></a>
            </p>
            <p>
                <span>Users:</span>
                <span th:each="user : ${group.users}" th:text="${user.name}"></span>
            </p>
        </section>
    </main>
</div>
</body>
</html>